body {
  font-family: fantasy, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  min-height: 100vh;
}

.notification {
  background: lightgrey;
  font-size: 20px;
  border: 3px solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.success {
  color: green;
}

.error {
  color: red;
}

.login-form, .togglable-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  padding: 30px;
  margin: 10px;
  border-radius: 25px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.blog {
  padding-top: 10px;
  padding-left: 2px;
  border: solid;
  border-width: 2px;
  margin-bottom: 5px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 15px;
}

.input-field {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input {
  border: 1px solid;
  border-radius: 10px;
  padding: 5px;
}

button {
  display: flex;
  flex-direction: column;
  border: 1px solid;
  border-radius: 10px;
  padding: 5px;
  flex: 1;
}